# List

In [1]:
l = [1, 345, 56, 'rudra', True , 5+7j, 345.456 ] # constructing a list 

# Here Elements are of any data types

In [3]:
l

[1, 345, 56, 'rudra', True, (5+7j), 345.456]

In [4]:
type(l)

list

## Indexing and Slicing Concept in Python

### Indexing

In [5]:
l[0] # Finding the element present at 0 index pos

1

In [6]:
l[6] # Finding the element present at 6 index pos

345.456

In [7]:
l[90] # Finding the element present at 90 index pos
# which is outside the range of list 
# we will get error here

IndexError: list index out of range

### Slicing

In [8]:
l [0:3] # WE want sliced elements of 1st, 2nd, 3rd element of list

[1, 345, 56]

In [9]:
l[-1] # printing the last element of the list

345.456

In [10]:
l[: : -1] # printing the lis in reverse order

[345.456, (5+7j), True, 'rudra', 56, 345, 1]

In [11]:
l[ : : 2] # printing the element present at the even index postion number

[1, 56, True, 345.456]

In [12]:
s = 'pwskills'

In [13]:
l + s # we cannot concatinate list with string

TypeError: can only concatenate list (not "str") to list

In [14]:
list(s) # it converts a string into a listby breaking it into a list of characters

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [15]:
list(s) + l

['p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 345,
 56,
 'rudra',
 True,
 (5+7j),
 345.456]

In [16]:
l

[1, 345, 56, 'rudra', True, (5+7j), 345.456]

In [17]:
l[3][:2] # extracting 'ru' form the list

'ru'

In [18]:
l[4][:2] # we cannot extracted "tr" from "true" since "true" is of boolean data type not of string data type

TypeError: 'bool' object is not subscriptable

In [19]:
# if we want to extract "tr" from "true" then we have to perform type casting
str(l[4])[:2]

'Tr'

In [20]:
l

[1, 345, 56, 'rudra', True, (5+7j), 345.456]

In [21]:
l+5 # we cannot concatnate list to a list not an integer

TypeError: can only concatenate list (not "int") to list

In [22]:
l1 = [3,4,5]

In [23]:
l + l1 # we can concatinate list into a list

[1, 345, 56, 'rudra', True, (5+7j), 345.456, 3, 4, 5]

In [24]:
l1 * 3 # we can multiple list

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [25]:
l

[1, 345, 56, 'rudra', True, (5+7j), 345.456]

In [26]:
len(l) # Finding the number of element in the list

7

In [27]:
l

[1, 345, 56, 'rudra', True, (5+7j), 345.456]

In [28]:
l.append(5) # append is an in-bulit function on list which is used to add a perticular element to a list

In [29]:
l

[1, 345, 56, 'rudra', True, (5+7j), 345.456, 5]

In [30]:
l.append(s) # appending "pwskills" present in s variable to our list

In [31]:
l

[1, 345, 56, 'rudra', True, (5+7j), 345.456, 5, 'pwskills']

In [32]:
l1

[3, 4, 5]

In [33]:
l.append(l1) # storing list l1 as an element to a list

In [34]:
l

[1, 345, 56, 'rudra', True, (5+7j), 345.456, 5, 'pwskills', [3, 4, 5]]

In [35]:
l[-1][1] # extrating 4 from list

4

In [36]:
l

[1, 345, 56, 'rudra', True, (5+7j), 345.456, 5, 'pwskills', [3, 4, 5]]

In [37]:
l.extend(4) # if we want to add an ittrable to a list then we will use extend in-built method

TypeError: 'int' object is not iterable

In [38]:
l.extend('rudra') # sice string i an ittrable therefore we can extend it in list

In [39]:
l

[1,
 345,
 56,
 'rudra',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 [3, 4, 5],
 'r',
 'u',
 'd',
 'r',
 'a']

In [40]:
l.extend([3,4,5]) # extending a list cntaing 3,4,5 into list "l"

In [41]:
l

[1,
 345,
 56,
 'rudra',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 [3, 4, 5],
 'r',
 'u',
 'd',
 'r',
 'a',
 3,
 4,
 5]

In [42]:
l1 = [3,4,5]

In [43]:
l1.insert(1,'rudra') # if we want to add an element to an index at a specific index pos.
# we will use insert built-in method

In [44]:
l1

[3, 'rudra', 4, 5]

In [45]:
l1.insert(2, [2,3,4]) # inserting [2,3,4] in l1 at 2 index pos

In [46]:
l1

[3, 'rudra', [2, 3, 4], 4, 5]

In [47]:
l1.insert(-1, 45)

In [48]:
l1 # insert 45 at -1 index position

[3, 'rudra', [2, 3, 4], 4, 45, 5]

In [49]:
l1.pop() # Removing an element present at perticular index position in a list
# if we don't mention any index number it will pop out the last element of list
# it takes indexex as an argument

5

In [50]:
l1

[3, 'rudra', [2, 3, 4], 4, 45]

In [51]:
l1.pop()

45

In [52]:
l1

[3, 'rudra', [2, 3, 4], 4]

In [53]:
l1.pop(2) # It removes the elemnt present

[2, 3, 4]

In [54]:
l1.pop(2)

4

In [55]:
l1

[3, 'rudra']

In [56]:
l1.remove("rudra") # it is used to remove an element from the list
# in argument we give the value as the element which we want to remove

In [57]:
l1

[3]

In [58]:
l1.append([2,3,4])

In [59]:
l1

[3, [2, 3, 4]]

In [60]:
l1[1].remove(3) # removing the element present inside a list present in the list
# it removes the first occurance of an object

In [61]:
l1

[3, [2, 4]]

In [62]:
l1.insert(1,'sudh')

In [63]:
l1

[3, 'sudh', [2, 4]]

In [64]:
l1[1].remove('dh') # we cannot mutatble object 
# string is a immmutale object

AttributeError: 'str' object has no attribute 'remove'

In [65]:
l1

[3, 'sudh', [2, 4]]

In [66]:
l1.reverse() # it is used to reverse the emelent of the list
# it chnges the value stored in list
# it is a permanten reverse

In [67]:
l1

[[2, 4], 'sudh', 3]

In [68]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

In [69]:
l2 = [3,5543,6346363463,36363346343,255534543,543,54343534543543,5435,435,435,3,5345435]

In [70]:
l2.sort() # this in-bulit method of list is usedd to sort the list in assending order
# it performs permanent changes
# sort performs the list having elment with similar data type

In [71]:
l2

[3,
 3,
 435,
 435,
 543,
 5435,
 5543,
 5345435,
 255534543,
 6346363463,
 36363346343,
 54343534543543]

In [72]:
l4 = ['sudh','kumar','pwskills','data science']

In [73]:
l4.sort() # it sorts te alphabet inascending order

In [74]:
l4

['data science', 'kumar', 'pwskills', 'sudh']

In [75]:
# If we want to sort the list in decending order
l4.sort(reverse = True)

In [76]:
l4

['sudh', 'pwskills', 'kumar', 'data science']

In [77]:
l4.index('sudh') # it is used t0 find the index position of firts occurance

0

In [78]:
l4.count('sudh') # it is used o find the no of time the follwng element is present in the list

1

In [79]:
s = 'sudh'

In [80]:
l5 = [3,4,5,6]

In [81]:
s[0] = 'a' # we cannot change the string
# it is immutable

TypeError: 'str' object does not support item assignment

In [82]:
l5[0] = 30  # in list we can change the element of the list 
# it is because the list is immutable

In [83]:
l5

[30, 4, 5, 6]

Mutablilty = if u can change element present a specific index position with another element then we can call that object as mutbale

In [86]:
s.replace('s','a') # in case of string we can use in-built replace method to 
# replace the character of a string 
# it wii generate a new object 
# it will not change original object stored in the "s" variable

'audh'

In [87]:
s

'sudh'

# Tuples

Tuples are data set which is similar to list. the only diffrance between set and tuples is:

  1- It uses round bracket to store element in it.
  
  2 - It is immutable in nature.

In [88]:
t = (2,3,4,5, 'sudh' , 45.65 , False, 45+456j , [3,4,5] )

In [89]:
t

(2, 3, 4, 5, 'sudh', 45.65, False, (45+456j), [3, 4, 5])

In [90]:
type(t)

tuple

In [91]:
len(t)

9

In [92]:
t[0]

2

In [93]:
t[-1]

[3, 4, 5]

In [94]:
t[::-1]

([3, 4, 5], (45+456j), False, 45.65, 'sudh', 5, 4, 3, 2)

In [96]:
l4

['sudh', 'pwskills', 'kumar', 'data science']

In [97]:
l4[0] = 23424

In [98]:
l4

[23424, 'pwskills', 'kumar', 'data science']

In [99]:
t

(2, 3, 4, 5, 'sudh', 45.65, False, (45+456j), [3, 4, 5])

In [100]:
t[0]

2

In [102]:
t[0] = 'sudh' # Since tuples ar immutable in nature therefore we cannot change elemnts of tuples using item assignment

TypeError: 'tuple' object does not support item assignment

### Function/methods of Tuples

In [103]:
t.count(3)

1

In [104]:
t.count(5)

1

In [105]:
t.index(s)

4

# Set

set are another type of itterrable data type like list and tuples, the major diffrence of set are:

   1 - They are unordered (i.e we cant used indexing anf slicing operations here)
   
   2 - They don't store duplicate values.

In [112]:
s1 = {} # Empty curley braces is always being used to denote empty dict.

In [113]:
type(s1)

dict

In [114]:
s2 = {2,3,4,5,6}

In [115]:
type(s2)

set

In [117]:
s3 = {324 , 456 , 456 , 'sudh' , 45+45j , 34.456 , (3,4,5) }

In [118]:
s3

{(3, 4, 5), (45+45j), 324, 34.456, 456, 'sudh'}

In [119]:
s4 = {2,3,4,2,3,2,4,2,3,2,3,4,5,4,3,3,3,4,5,45,4,5}

In [120]:
s4

{2, 3, 4, 5, 45}

In [121]:
s5 = {234,45,23,12,567,45,2,789,234,'abc',456,342,23}

In [122]:
s5

{12, 2, 23, 234, 342, 45, 456, 567, 789, 'abc'}

In [123]:
s5[0]

TypeError: 'set' object is not subscriptable

In [124]:
s5[::-1]

TypeError: 'set' object is not subscriptable

In [127]:
s5.add(4) # This built-in method of set will add the element given in argument into set 
# If the set is already present in the set then it will nullify the operation since 
# et don't sopprt duplicacy

In [128]:
s5

{12, 2, 23, 234, 342, 4, 45, 456, 567, 789, 'abc'}

In [129]:
s5.remove(45)

In [130]:
s5

{12, 2, 23, 234, 342, 4, 456, 567, 789, 'abc'}

In [131]:
s5.remove(2)

In [132]:
s5

{12, 23, 234, 342, 4, 456, 567, 789, 'abc'}